.boxed {
    background-color: #a7d0a1;
    box-shadow: 15px 15px 5px #d3d795, 30px 30px 5px #e5a884;
}
h1 {
    text-align: center;
    font-family: 'Itim', cursive;
}

.empty {
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 20px;
    font-style: italic;
}
span {
    margin: 5px;
}

.todo span {
    font-family: 'Delius', cursive;
    font-size: 1.8em;
}

.completed span {
    text-decoration: line-through;
    color: gray;
}

.close {
    color : palevioletred;
    display: none;
}
.filter span{
    padding: 5px;
    border: 2px solid palevioletred;
}

.filter span:hover{
    cursor: pointer;
    background-color: pink;
}

.onState {
    background: pink;
}

.count {
    margin:0px 30px;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 50%;
    background-color: pink;
}

#todo-submit {
    cursor: pointer;
}
